.header{
    height: 430px;
    width: 100%;
    overflow: hidden;
    background-color: pink;
}
.top{
    top: 0px
}
.z10{
    z-index: 10;
}
.z15{
    z-index: 15;
}
.z20{
    z-index: 20;
}
.opacity{
    opacity: .6;
}